/* FAQ PAGE STYLE  */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#faq {
  margin-left: 20px;
  margin-right: 19px;
  display: none;
}
#faqparagraph {
  margin-left: 1rem;
  margin-top: 2rem;
  padding-right: 0rem;
}
#topsearch {
  display: flex;
  width: 98%;
  border: 9px solid rgba(67, 67, 67, 0.4);
  margin-bottom: 20px;
}
#searchtext {
  width: 10%;
  color: #eee;
  background-color: #434343;
  padding-top: 10px;

  padding-left: 10px;
}
#searchspace {
  width: 100%;
  background-color: #393939;
  padding: 10px;
}
input {
  background-color: #393939;
  border: none;
  width: 100%;
}
input:focus {
  outline: 0;
  color: #eee;
}

#searchicon {
  width: 3%;
}
#iconfaq {
  padding: 10px;
  background-color: #434343;
}
#skriperlogo {
  width: 46%;
  display: flex;
  margin-top: 8px;
  margin-left: 10px;
}
#help {
  margin-left: 20px;
}
#faqparagraph {
  display: grid;
  display: flex;
  flex-direction: column;
  grid-template-areas:
    "a"
    "b"
    "c"
    "d"
    "e"
    "f"
    "g"
    "h"
    "i"
    "j"
    "k"
    "l"
    "m"
    "n"
    "o"
    "p";
  gap: 10px;
  width: 94%;
}
#faqparagraph div {
  padding: 12px;
  color: #eee;
  border-radius: 2px;
}
#faqparagraph div input {
  display: none;
}
#accordion_content {
  display: none;
}
#faqparagraph div input:checked ~ #accordion_content {
  display: block;
  padding: 0 10px;
  font-size: 14px;
}
#faqparagraph div label {
  display: block;
  cursor: pointer;
  padding: 0;
}
#faqparagraph div input:checked ~ label {
  padding: 0 10px;
  font-size: 20px;
  font-weight: 600;
}
#faqparagraph iframe {
  border: 10px solid #222;
  border-radius: 2px;
  display: block;
  margin: 20px auto;
}
#faq1 {
  grid-area: a;
  background-color: #414141;
}
#faq2 {
  grid-area: b;
  background-color: #414141;
}
#faq3 {
  grid-area: c;
  background-color: #414141;
}
#faq4 {
  grid-area: d;
  background-color: #414141;
}
#faq5 {
  grid-area: e;
  background-color: #414141;
}
#faq6 {
  grid-area: f;
  background-color: #414141;
}
#faq7 {
  grid-area: g;
  background-color: #414141;
}
#faq8 {
  grid-area: h;
  background-color: #414141;
}
#faq9 {
  grid-area: i;
  background-color: #414141;
}
#faq10 {
  grid-area: j;
  background-color: #414141;
}
#faq11 {
  grid-area: k;
  background-color: #414141;
}
#faq12 {
  grid-area: l;
  background-color: #414141;
}
#faq13 {
  grid-area: m;
  background-color: #414141;
}
#faq14 {
  grid-area: n;
  background-color: #414141;
}
#faq15 {
  grid-area: o;
  background-color: #414141;
}
#faq16 {
  grid-area: p;
  background-color: #414141;
}

@media screen and (min-width: 540px) and (max-width: 639px) {
  /* FAQ PAGE STYLE  */
  #faq {
    margin-left: 20px;
    margin-right: 19px;
  }
  #faqparagraph {
    margin-left: 35px;
    padding-right: 15px;
  }
  #topsearch {
    display: flex;
    width: 98%;
    border: 9px solid rgba(67, 67, 67, 0.4);
    margin-bottom: 20px;
  }
  #searchtext {
    width: 10%;
    color: #eee;
    background-color: #434343;
    padding-top: 10px;

    padding-left: 10px;
  }
  #searchspace {
    width: 100%;
    background-color: #393939;
    padding: 10px;
  }
  input {
    background-color: #393939;
    border: none;
    width: 100%;
  }
  input:focus {
    outline: 0;
    color: #eee;
  }

  #searchicon {
    width: 3%;
  }
  #iconfaq {
    padding: 10px;
    background-color: #434343;
  }
  #skriperlogo {
    width: 46%;
    display: flex;
    margin-top: 8px;
    margin-left: 10px;
  }
  #help {
    margin-left: 20px;
  }
  #faqparagraph {
    display: grid;
    display: flex;
    flex-direction: column;
    grid-template-areas:
      "a"
      "b"
      "c"
      "d"
      "e"
      "f"
      "g"
      "h"
      "i"
      "j"
      "k"
      "l"
      "m"
      "n"
      "o"
      "p";
    gap: 10px;
    width: 94%;
  }
  #faqparagraph div {
    padding: 12px;
    color: #eee;
  }

  #faq1 {
    grid-area: a;
    background-color: #414141;
  }
  #faq2 {
    grid-area: b;
    background-color: #414141;
  }
  #faq3 {
    grid-area: c;
    background-color: #414141;
  }
  #faq4 {
    grid-area: d;
    background-color: #414141;
  }
  #faq5 {
    grid-area: e;
    background-color: #414141;
  }
  #faq6 {
    grid-area: f;
    background-color: #414141;
  }
  #faq7 {
    grid-area: g;
    background-color: #414141;
  }
  #faq8 {
    grid-area: h;
    background-color: #414141;
  }
  #faq9 {
    grid-area: i;
    background-color: #414141;
  }
  #faq10 {
    grid-area: j;
    background-color: #414141;
  }
  #faq11 {
    grid-area: k;
    background-color: #414141;
  }
  #faq12 {
    grid-area: l;
    background-color: #414141;
  }
  #faq13 {
    grid-area: m;
    background-color: #414141;
  }
  #faq14 {
    grid-area: n;
    background-color: #414141;
  }
  #faq15 {
    grid-area: o;
    background-color: #414141;
  }
  #faq16 {
    grid-area: p;
    background-color: #414141;
  }
}
