 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

body{
    font-family: 'Poppins', sans-serif;
    /* margin: 0;
    padding: 0;
    box-sizing: border-box; */
    background-color: rgb(19, 19, 19); 
}
/* style for footer section */
footer{
    background-color: #252525;
    color: #eee;
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    padding: 50px;
    width: 100%;
}
.box1{
    margin-top: 1.3rem;
}
.logo{
    display: block;

}
.icons{
    display: flex;
    justify-content: space-between;
}
.box2{
    display: flex;
    flex-direction: column;
    margin-top: 0.3rem;
    
}
.box2 h2{
    text-transform: uppercase;
    font-size: 16px;
    opacity: 0.6;
}
.box2 ul{
    margin: 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
}
.box2 ul a{
    text-decoration: none;
    color: #eee; 
    margin-bottom: 25px;
    padding: 0;
    line-height: 2.5;
}
.box3{
    font-size: 16px;
}


/* HOME PAGE STYLE */
#homemain {
    overflow: hidden;
    display: flex;
    width: 100%;
    color: #eee;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
  
  #flamehome,
  #starhome,
  #watchhome,
  #startcodinghome,
  #homeloginhome,
  #homesearchhome {
    float: left;
    padding: 0 16px;
    margin: 5px;
    padding-top: 4px;
  }
  #skriperlogohome{
    margin-top: 5px;
  }
  
  #headingiconshome {
    width: 54%;
    margin-left: 40%;
  }
  
  #startcodinghome {
    border: 0.5px solid rgb(56, 162, 227);
    background-color: rgb(56, 162, 227);
    padding: 8px 10px;
    margin: 7px 10px; 
     border-radius: 3px;
  } 
   #homeloginhome {
    border: 0.5px solid #eee;
    padding: 7px 15px;
     /* margin-left: 13px;
    margin-right: 16px;  */
  }
  #homesearchhome {
     border: 0.5px solid #eee;
    padding: 7px 8px; 
  }
  a{
    text-decoration: none;
    color: #eee;
  }
  #body {
    margin-left: 15%;
    margin-right: 20%;
  }
  #topimg {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 0;
  }
  #gradientheading {
    text-align: center;
    font-size: 4.4rem;
    background: -webkit-linear-gradient(
      360deg,
      #f9872f,
      #fc3758,
      #c235ff,
      #216eea,
      #2ce57c
    );
     -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
  }
  
  #subgradientheading {
    text-align: center;
    color: white;
  }
  #article {
    color: white;
  }
  #container1 {
    display: flex;
    width: 100%;
  }
  #htmlheading {
    margin-top: 30px;
  }
  #cssheading,
  #jshead {
    margin-top: 20px;
  }
  #htmltext {
    width: 100%;
    color: white;
  }
  #htmlimg {
    margin-top: 8%;
    margin-right: px;
  }
  #container2 {
    display: flex;
    width: 100%;
    margin-top: 70px;
  }
  #codetoimage {
    width: 50%;
    margin-right: 40px;
  }
  #codetoimgtext {
    width: 120%;
    color: white;
  }
  #container3 {
    display: flex;
    width: 100%;
    margin-top: 40px;
  }
  #snippetimg {
    width: 50%;
    margin-right: 40px;
  }
  #snippettext {
    width: 120%;
    color: white;
  }
  #container4 {
    display: flex;
    width: 100%;
    margin-top: 40px;
  }
  #videoimg {
    width: 50%;
    margin-right: 40px;
  }
  #tutorialtext {
    width: 120%;
    color: white;
  }
  #container5 {
    display: flex;
    width: 100%;
    margin-top: 40px;
  }
  #markdownimg {
    width: 50%;
    margin-right: 40px;
  }
  #markdowntext {
    width: 120%;
    color: white;
  }
  
  FAQ PAGE STYLE 
   #faq {
    margin-left: 20px;
    margin-right: 19px;
  }
  #faqparagraph {
    margin-left: 35px;
    padding-right: 15px;
    
  }
  #flame,
  #star,
  #watch,
  #startcoding,
  #homelogin,
  #homesearch {
    float: left;
    padding: 0 16px;
    margin: 5px;
    padding-top: 10px;
  } 
   #headingicons {
    width: 54%;
  }
  
  #startcoding {
    border: 0.5px solid rgb(56, 162, 227);
    background-color: rgb(56, 162, 227);
    padding: 9px 15px;
    margin: 5px 16px;
    border-radius: 3px;
  }
  #homelogin {
    border: 0.5px solid #eee;
    padding: 9px 15px;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 5px;
  }
  #homesearch {
    border: 0.5px solid #eee;
    padding: 9px 8px;
    margin-left: 4 16px;
    margin-right: 16px;
    margin-top: 5px;
  }
  #topsearch {
    display: flex;
    width: 98%;
    border: 9px solid rgba(67, 67, 67, 0.4);
    margin-bottom: 20px;
  }
  #searchtext {
    width: 10%;
    color: #eee;
    background-color: #434343;
    padding-top: 10px;
  
    padding-left: 10px;
  }
  #searchspace {
    width: 100%;
    background-color: #393939;
    padding: 10px;
  }
  input {
    background-color: #393939;
    border: none;
    width: 100%;
  }
  input:focus {
    outline: 0;
    color: #eee;
  }
  
  #searchicon {
    width: 3%;
  }
  #iconfaq {
    padding: 10px;
    background-color: #434343;
  }
  #skriperlogo {
    width: 46%;
    display: flex;
  }
  #help {
    margin-left: 20px;
    margin-top: 8px;
  }
  #faqparagraph {
    display: grid;
    display: flex;
    flex-direction: column;
    grid-template-areas:
      "a"
      "b"
      "c"
      "d"
      "e"
      "f"
      "g"
      "h"
      "i"
      "j"
      "k"
      "l"
      "m"
      "n"
      "o"
      "p";
    gap: 10px;
    width: 94%;
  }
  #faqparagraph div {
    padding:12px;
    color: #eee;
  }
  
  #faq1 {
    grid-area: a;
    background-color: #414141;
    
  }
  #faq2 {
    grid-area: b;
    background-color: #414141;
  }
  #faq3 {
    grid-area: c;
    background-color: #414141;
  }
  #faq4 {
    grid-area: d;
    background-color: #414141;
  }
  #faq5 {
    grid-area: e;
    background-color: #414141;
  }
  #faq6 {
    grid-area: f;
    background-color: #414141;
  }
  #faq7 {
    grid-area: g;
    background-color: #414141;
  }
  #faq8 {
    grid-area: h;
    background-color: #414141;
  }
  #faq9 {
    grid-area: i;
    background-color: #414141;
  }
  #faq10 {
    grid-area: j;
    background-color: #414141;
  }
  #faq11 {
    grid-area: k;
    background-color: #414141;
  }
  #faq12 {
    grid-area: l;
    background-color: #414141;
  }
  #faq13 {
    grid-area: m;
    background-color: #414141;
  }
  #faq14 {
    grid-area: n;
    background-color: #414141;
  }
  #faq15 {
    grid-area: o;
    background-color: #414141;
  }
  #faq16 {
    grid-area: p;
    background-color: #414141;
  } 
  
/* style for footer section- mobile 600px */
@media only screen and (max-width: 600px){
    footer{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: start;
        width: 100%;
        padding: 3rem 0;
    }
    .box1{
        margin-top: 1.rem;
    }
    .logo{
        display: block;
        margin-left: 2.4rem;
    
    }
    .icons{
        display: none;
        justify-content: space-between;
    }
    .box2{
        display: flex;
        flex-direction: column;
        margin-top: 0.4rem;
        
    }
    .box2 h2{
        text-transform: uppercase;
        font-size: 16px;
        opacity: 0.6;
    }
    .box2 ul{
        margin: 0;
        list-style: none;
        font-size: 0.8rem;
        text-align: left;
    }
    .box2 ul a{
        text-decoration: none;
        color: #eee; 
        margin-bottom: 25px;
        padding: 0;
        line-height: 2.5;
    }
    .box3{
        font-size: 16px;
        margin-right: 5rem;
        
    }
    .box3 p, .box3 img{
        padding-left: 2.4rem;
    }
    
}
