* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: rgb(19, 19, 19);
}

::-webkit-scrollbar {
  width: 0.3rem;
}
::-webkit-scrollbar-track {
  background: #414141;
}
::-webkit-scrollbar-thumb {
  background: #eee;
}

/* style for footer section */
footer {
  background-color: #252525;
  color: #eee;
  display: flex;
  justify-content: space-between;
  padding: 50px;
  width: 100%;
}

.logo {
  display: block;
}
.icons {
  display: flex;
  gap: 1rem;
}

.icons img {
  width: 50%;
}
.box2 {
  display: flex;
  flex-direction: column;
}
.box2 h2 {
  text-transform: uppercase;
  font-size: 16px;
  opacity: 0.6;
}
.box2 ul {
  margin: 0;
  list-style: none;
  font-size: 14px;
  text-align: left;
}
.box2 ul a {
  text-decoration: none;
  color: #eee;
  margin-bottom: 25px;
  padding: 0;
  line-height: 2.5;
}
.box2 ul li {
  transition: transform 300ms ease;
}
.box2 ul li:hover {
  transform: translateY(-5px);
}
.box3 {
  font-size: 16px;
}

.box3 div {
  margin-top: 1.5rem;
  display: flex;
  justify-content: end;
}
/* style for navigation bar */
header {
  position: sticky;
  top: 0;
  z-index: 15;
  background-color: #131313;
  padding: 0.5rem 3rem;
}
.navbar {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin: 10px 0px;
}
.navleft {
  display: flex;
}

.left {
  display: none;
}

.left ul {
  font-size: 14px;
  color: white;
}
.text-bottom {
  font-size: 12px;
}
.navright {
  display: flex;
  gap: 1rem;
}

.navright a {
  padding: 5px 10px;
  background-color: #131313;
  margin-right: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
}

.navright a img,
.navright a p {
  color: white;
  opacity: 0.6;
  font-size: 17px;
  transition: opacity 200ms ease;
}

.navright a:hover p,
.navright a:hover img {
  opacity: 1;
}

.one {
  transition: background-image 200ms ease;
  background-image: linear-gradient(160deg, #33a9dc, #4c83ff);
}

.one,
.two,
.three {
  border: 1px solid gray;
  border-radius: 3px;
}
.one:hover {
  background-image: none;
}
.navright .navBox {
  margin-right: 20px;
}

/* ---------LOGIN-------- */
.login {
  border: 1px solid hsla(0, 0%, 100%, 0.3);
  background-color: #131313;
  padding: 20px;
  position: absolute;
  right: 3rem;
  top: 7rem;
  width: 30rem;
  color: #eee;
  box-shadow: 0 5px 20px rgb(0 0 0 / 50%);
  max-width: 350px;
  width: 100%;
  display: none;
}

.login.active {
  display: block;
}
.login p {
  padding-top: 3px;
  font-size: 14px;
}

.login h3 {
  text-transform: capitalize;
}

.login form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}

.login form input {
  background-color: hsla(0, 0%, 100%, 0.1);
  outline: none;
  border: 1px solid hsla(0, 0%, 100%, 0.3);
  padding: 10px;
  font-size: 17px;
  color: #eee;
}

/* HOME PAGE STYLE */

#body {
  width: 80%;
  margin-top: 6rem;
  margin-inline: auto;
}

.hero {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#topimg {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 0;
}

#gradientheading {
  text-align: center;
  font-size: 70px;
  line-height: 100px;
  padding-block: 3rem;
  text-transform: capitalize;
  background: -webkit-linear-gradient(
    360deg,
    #f9872f,
    #fc3758,
    #c235ff,
    #216eea,
    #2ce57c
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#subgradientheading {
  text-align: center;
  color: white;
  padding-bottom: 10rem;
  font-size: 25px;
  font-weight: 400;
}
#codeplayground {
  height: auto;
  width: 80%;
  margin: 0 10%;
}
#article {
  color: white;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 3rem;
}

.containers {
  width: 80%;
  margin-inline: auto;
  padding-block: 5rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.containers > section {
  display: flex;
  align-items: center;
  color: white;
  gap: 5rem;
}

.containers > section h1 {
  margin-bottom: 0.6rem;
}

#container1 p {
  margin-bottom: 1rem;
}

@media screen and (max-width: 760px) {
  .login {
    left: 50%;
    transform: translateX(-50%);
  }
  header .left {
    display: none;
  }

  .navright a {
    display: none;
  }

  .navright .one,
  .navright .two,
  .navright .three {
    display: flex;
  }

  .navright .one p,
  .navright .two p,
  .navright .three p {
    display: none;
  }

  header {
    padding: 1rem 1.5rem;
  }

  .hero {
    height: auto;
  }

  #body {
    width: 90%;
    margin-top: 0;
  }
  #subgradientheading {
    padding-bottom: 0;
    font-size: 14px;
  }
  #gradientheading {
    font-size: 35px;
    line-height: 50px;
    padding-top: 1.5rem;
  }
  .containers > section {
    flex-direction: column-reverse;
    gap: 2rem;
  }

  .containers {
    width: 100%;
  }

  #container1 {
    flex-direction: column;
  }

  footer {
    flex-direction: column;
    gap: 2rem;
  }
  .icons img {
    width: 10%;
  }

  .box3 div {
    justify-content: start;
  }
}

@media screen and (min-width: 765px) and (max-width: 800px) {
  .navright a {
    display: none;
  }

  .navright .one,
  .navright .two,
  .navright .three {
    display: flex;
  }

  #body {
    width: 90%;
  }

  .navright .one p,
  .navright .two p,
  .navright .three p {
    display: block;
  }

  .containers {
    width: 100%;
  }
}
@media screen and (min-width: 800px) and (max-width: 1200px) {
  .navright a {
    display: flex;
    font-size: 14px;
  }

  .navright {
    gap: 10px;
  }

  .navright .no-border {
    border: none;
    padding: 0;
  }

  #body {
    width: 85%;
  }

  .containers {
    width: 100%;
  }
}
